/* Review this part of the code */

#mole {
	position: absolute;
	top: 50%;
	left: 50%;

	/* Add some style to your mole! */
	transition: 50ms ease-out;
	background-color: rgb(99, 58, 58);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}